<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Listado</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

    <h1 th:text="${title}"></h1>
    <div th:if="${usuarios.size() == 0}"> No existen usuarios registrados </div>
    <table border="1" th:if="${usuarios.size()>0}">
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Apellido </th>
                <th>Correo </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario: ${usuarios}">
                <td th:text = "${usuario.Nombre}"></td>
                <td th:text = "${usuario.Apellido}"></td>
                <td th:text = "${usuario.Correo}"></td>
            </tr>
    
        </tbody>
    </table>
    
    
</body>
</html>